<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quên mật khẩu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../static/css_login/util.css">
    <link rel="stylesheet" type="text/css" href="../../static/css_login/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css_login/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css_login/main.css}">
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        .toast-container {
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
    </style>
    <!--===============================================================================================-->


</head>
<body>
<!--toast-->
<div id="toast-container" class="toast-container">
    <div style="border-radius: 20%;border:2px solid #17a2b8;" id="liveToast" class="toast" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div style="background-color: #00394f;border-radius: 22%;border-top-color:#17a2b8;border: 2px "
             class="toast-header justify-content-center">
            <h4 style="color: white;text-align: center">
                Thông báo
            </h4>
        </div>
        <div class="toast-body text-info justify-content-center" style="align-content: center">
            <p style="text-align: center; color: red" th:text="${message}">
            </p>
        </div>
    </div>
</div>
<!--end toast-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img th:src="@{/images/img-01.png}" alt="IMG">
            </div>
            <form class="login100-form validate-form" th:action="@{/account/forgot}" id="form" method='post'>
					<span class="login100-form-title">
						Quên mật khẩu
					</span>


                <div class="wrap-input100 validate-input" data-validate="Email theo định dạng: ex@abc.xyz">
                    <input id="load" class="input100" type="text" name="email" placeholder="Nhập email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>


                <div class="container-login100-form-btn">
                    <button onclick="spinner()" class="login100-form-btn" name="submit" type="submit" value="submit"
                            id="button">
                        Gửi
                    </button>
                    <div style="display: none" id="spinner" class="spinner-grow text-info"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:if="${message!=null}">
    // toast
    window.onload = function () {
        let myAlert = document.getElementById('liveToast');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }
</script>

<script>
    document.getElementById('form').addEventListener('submit', function () {
        let button = document.getElementById("button");
        button.hidden = true;
    });
</script>
<script>
    function spinner() {
        document.getElementById("spinner").style.display = "block";
    }
    document.getElementById("toast-container").addEventListener("change",function (e) {
        document.getElementById("spinner").style.display = "none";
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/tilt/tilt.jquery.min.js}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/js_login/main.js}"></script>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"></script>

</body>
</html>